<!DOCTYPE html>
<html>
  <head>
    <%-include( './includes/head',{siteTitle:`${post.title}|${themeConfig.siteName}`})%>
      <link rel="stylesheet" href="https://cdn.bootcss.com/highlight.js/9.15.8/styles/default.min.css">
      <script>hljs.initHighlightingOnLoad();</script>
    </head>
  <body>
    <div class="main animated">
      <%-include( './includes/header')%>
        <div class="autopagerize_page_element">
          <div class="content">
            <div class="post_page">
              <div class="post animated fadeInDown">
                <div class="post_title post_detail_title">
                  <h2>
                    <a>
                      <%=post.title%></a>
                  </h2>
                  <span class="date">
                    <%=post.dateFormat%></span>
                </div>
                <div class="post_content markdown">
                  <p class="md_block">
                    <span class="md_line md_line_start md_line_end">
                      <%-post.content%></span>
                  </p>
                </div>
                <div class="post_footer">
                  <div class="meta">
                    <div class="info">
                      <span class="field tags">
                        <i class="fa fa-flask"></i>
                        <%post.tags.forEach(function(tag){%>
                          <a href="<%= tag.link %>" class="tag">
                            <%=tag.name%></a>
                          <%});%></span>
                    </div>
                  </div>
                </div>
              </div>
              <%if(typeof commentSetting!=='undefined' &&commentSetting.showComment){%>
                <%if(commentSetting.commentPlatform==='gitalk' ){%>
                  <%-include( './includes/gitalk')%>
                    <%}%>
                      <%if(commentSetting.commentPlatform==='disqus' ){%>
                        <%-include( './includes/disqus')%>
                          <%}%>
                            <%}%>
            </div>
          </div>
        </div>
</div>
    <%-include( './includes/footer')%></body>
</html>