<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <%-include( './includes/head',{siteTitle:themeConfig.siteName})%></head>
  <body>
    <div class="main animated">
      <%-include( './includes/header')%>
        <div class="autopagerize_page_element">
          <div class="content">
            <div class="list_with_title">
              <div class="tags-container">
                <%tags.forEach((tag)=>{%>
                  <a class="tag" href="<%= tag.link %>">
                    <%=tag.name%></a>
                  <%});%></div>
            </div>
          </div>
          <div class="paginator pager pagination no_pages">
            <div class="paginator_container pagination_container"></div>
          </div>
        </div>
    </div>
    <%-include( './includes/footer')%></body>

</html>