<div class="header animated fadeInDown">
  <div class="site_title_container">
    <div class="site_title">
      <a href="<%= themeConfig.domain %>">
        <img src="<%= themeConfig.domain %>/images/avatar.png?v=<%= site.utils.now %>" style="width:130px;height:36px;"></a>
    </div>
  </div>
  <div class="my_socials">
    <%[ 'github', 'twitter', 'weibo', 'instagram', 'facebook'].forEach((item)=>{%>
      <%if(site.customConfig[item]){%>
        <a href="<%= site.customConfig[item] %>" target="_blank">
          <i class="fa fa-<%= item %>"></i></a>
        <%}%>
          <%})%></div>
</div>
<div class="header_menu">
  <%menus.forEach(function(menu){%>
    <%if(menu.openType==='External' ){%>
      <a href="<%= menu.link %>" class="menu" target="_blank">
        <%=menu.name%></a>
      <%}else{%>
        <a href="<%= menu.link %>" class="menu">
          <%=menu.name%></a>
        <%}%>
          <%});%></div>