<div class="autopagerize_page_element">
  <% posts.forEach(function(post) { %>
  <div class="content">
    <div class="post animated fadeInDown">
      <div class="post_title">
        <h2><a href="<%= post.link %>" ><%= post.title %></a>

        </h2>
      </div>

      <div class="list">
        <div class="post_content">
        
          <p><%- post.abstract %></p>

        </div>

      </div>

      <div class="post_footer">
        <div class="meta">
          <div class="info">
          <span class="field"><i class="fa fa-sun-o"></i>
<span class="date"><%= post.dateFormat %></span>
</span>

<span class="field tags"><i class="fa fa-flask"></i>
<% post.tags.forEach(function(tag) { %>
          <a href="<%= tag.link %>" class="post-tag">
             <%= tag.name %>
          </a>
        <% }); %>

</span>


          </div>

        </div>
      </div>
  </div>
  
  </div>
<% }); %>
    </div>


<div class="paginator pager pagination" >
  
  <div class="paginator_container pagination_container">
    
      <% if (pagination.prev) { %>
    <a href="<%= pagination.prev %>"  class="btn pre newer-posts newer_posts"> 上一页 </a>
    <% } %>               
                    
    <% if (pagination.next) { %>
    <a href="<%= pagination.next %>"  class="btn next older-posts older_posts"> 下一页 </a>
<% } %>



    <div style="clear:both;height:0;"></div>


  </div>

</div>